<section>

    <img src="assets/images/carte-1.png" alt="carte" ng-mousemove="count = count + 1" ng-init="count=0" />
    <div class="container-reponse">
        <img [ngStyle]="true ? {position:'fixed',height:'30px','width':'30px',left:X+19+'px',top:Y+19+'px',color:'yellow',backgroundColor:'transparent','border-radius':'5px','z-index':'100'}:{display:'none'}" [src]="gifCursor" alt="player">
        <div class="container-btn-restart">
            <button (click)="restart()"><img class="btn-img-restart" src="assets/images/game-controller-outline.svg"
                    alt="">
                <p> </p>
            </button>
        </div>
        <ng-container *ngIf="!startGame;then cartetrue;else cartefalse"></ng-container>
        <ng-template #cartetrue>
            <div class="container-btn-carte">
                <button (click)="visibleCity()">
        <img class="btn-img-carte" src="assets/images/map-outline.svg" alt="">
        <p> </p>
    </button>
            </div>
        </ng-template>
        <ng-template #cartefalse>
            <H3>à toi de jouer</H3>
            <div class="container-player-actuel" *ngIf="playerActuel">
                <img class="player-actuel-img" [src]="playerActuel?.gif" alt="">
                <p>{{playerActuel?.name}}</p>
            </div>

        </ng-template>

        <div *ngIf="!startGame" class="container-player">

            <div class="container-gif">
                <ul *ngFor="let gif of listGif">
                    <li>
                        <button class="btnGif" (click)="gifPathSend(gif.src)"><img
                                [ngClass]="!gifFalse?'imgGif':'imgGifFalse'" [src]="gif.src" alt="" /></button>
                    </li>
                </ul>
            </div>
            <input class="inputListPlayer" name="player" id="" [(ngModel)]="player" placeholder="pseudo joueur" maxlength="14" />
            <button class="submit" (click)="playerRecord(player)">
                valider joueur
            </button>
        </div>
        <input [ngStyle]="good?{border:'solid green 3px',content:'bravo'}:{border:'solid black 3px'}" class="inputListPlayer" type="text" name="reponse" [value]="name" [(ngModel)]="name" [placeholder]="name" />
        <button class="submit" (click)="reponse(name)" (click)="countIndex()">
            réponse
        </button>
        <ng-container *ngFor="let a of arrayPositionGare; let i = index">
            <button [ngStyle]="{
          position: 'fixed',
          left: a.position_x - 7 + 'px',
          top: a.position_Y - 7 + 'px',
          height: 19 + 'px',
          width: 19 + 'px',
          'border-radius': 9 + 'px',
          border: 'solid 4px rgb(110, 110, 234)',
          'background-color': 'rgb(255, 192, 192)',
          cursor: a.cursor
        }" (click)="isResponse(a.gare_station)" class="btn-psoition">
                <p class="btn-psoition-p" *ngIf="visiblecity">{{a.gare_station}}</p>
            </button>
        </ng-container>
    </div>


    <div class="container-list-player">
        <ng-container *ngIf="listplayer.length !== 0,then one,else two"></ng-container>
        <ng-template #one>
            <ul *ngFor="let a of listplayer" class="score">
                <li>
                    <div class="namePlayerGif">{{ a.name }}</div><img class="imgGif2" [src]="a.gif" alt="" />
                    <p [ngStyle]="
            a.name === playerPush[0]
              ? {
                  color: 'white',
                  transition: 'all .4s',
                  'font-family': 'Fuggles, cursive;'
                }
              : { color: 'white', transition: 'all .4s' }
          ">
                        {{ a.point }} point
                    </p>
                </li>
            </ul>
        </ng-template>
        <ng-template #two>
            <p class="para"></p>
        </ng-template>
    </div>
    <app-good *ngIf="good" (newItemEvent)="addItem($event)" [playerPush]="playerPush"></app-good>
    <app-bad *ngIf="bad" (newItemEventBad)="addItemBad($event)" [Reponse]="Reponse"></app-bad>
</section>