<section (click)="cursor($event)">
    <h1>joueur : {{playerPush}} {{propResponse}}</h1>
    <img src="assets/images/carte-1.png" alt="carte" ng-mousemove="count = count + 1" ng-init="count=0">


    <div class="container-reponse">
        <input type="text" name="reponse" [value]="name" [(ngModel)]="name">
        <button class="submit" (click)="reponse(name)" (click)="countIndex()">réponse</button>
        <ng-container *ngFor="let a of arrayPositionGare,let i = index">
            <button [ngStyle]="{
                    position:'fixed',
                    left:(a.position_x-7)+'px',
                    top:(a.position_Y-7)+'px',
                    'height':19 +'px',
                    width: 19+'px',
                    'border-radius': 9+'px',
                    border: 'solid 2px rgb(110, 110, 234)',
                    'background-color': 'rgb(255, 192, 192)',
                cursor:a.cursor}" (click)="isResponse(a.gare_station,i)" class="btn-psoition"></button>
        </ng-container>
        <div class="container-player">
            <label for="player">joueurs</label>
            <input type="text" name="player" id="" [(ngModel)]="player">
            <button class="submit" (click)="playerRecord(player)">valider joueur</button>
        </div>
    </div>
    <div class="container-list-player">

        <ul *ngFor="let a of listplayer" class="score">
            <li>{{a.name}}
                <p [ngStyle]="a.name === playerPush ?{color:'white',transition:'all .4s','font-family':'Fuggles, cursive;'} :{ color:'white',transition:'all .4s'}">score : {{a.point}}</p>
            </li>
        </ul>
    </div>

</section>
<app-good *ngIf="good" (newItemEvent)="addItem($event)" [playerPush]="playerPush"></app-good>
<app-bad *ngIf="bad" (newItemEventBad)="addItemBad($event)" [gifPush]="gifPush"></app-bad>