section {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.artifice {
    width: 100%;
    height: 100%;
    opacity: .4;
    object-fit: cover;
}

p {
    position: absolute;
    opacity: 0;
    top: 30%;
    left: 0%;
    width: 100%;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid 3px white;
    font-weight: bold;
    color: rgb(135, 232, 135);
    animation: feu 1.4s both;
}

@keyframes feu {
    0% {
        opacity: .3;
        top: 30%;
        left: 0%;
        color: rgb(39, 225, 39);
        font-size: 4rem;
        text-align: center;
    }
    50% {
        top: 30%;
        left: 0%;
        opacity: 1;
        color: rgb(123, 39, 225);
        font-size: 7rem;
        text-align: center;
    }
    100% {
        top: 30%;
        left: 0%;
        opacity: 1;
        color: rgb(43, 11, 112);
        font-size: 10rem;
        text-align: center;
    }
}

.btn-good {
    position: absolute;
    z-index: 23;
    width: 180px;
    height: 45px;
    top: 5%;
    left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    font-size: 18px;
    gap: 22px;
    border-radius: 4vh;
    border: none;
    cursor: pointer;
    animation: btnAnime infinite 2s;
}

@keyframes btnAnime {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    90% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.img-btn {
    height: 90%;
}